/.github                   @haikalpribadi
/.grabl                    @haikalpribadi
/bin                       @haikalpribadi
/common                    @haikalpribadi
/concept                   @haikalpribadi
/config                    @haikalpribadi
/dependencies              @haikalpribadi
/docs                      @haikalpribadi
/graph                     @haikalpribadi
/logic                     @flyingsilverfin
/pattern                   @haikalpribadi
/query                     @haikalpribadi
/reasoner                  @flyingsilverfin
/database                  @haikalpribadi
/server                    @haikalpribadi
/test                      @haikalpribadi
/test/integration/logic    @flyingsilverfin
/traversal                 @haikalpribadi


/*.java                    @haikalpribadi
/.bazel*                   @haikalpribadi
/.gitignore                @haikalpribadi
/LICENSE                   @haikalpribadi
/README.md                 @haikalpribadi
/VERSION                   @haikalpribadi
/WORKSPACE                 @haikalpribadi
/deployment.bzl            @haikalpribadi

**BUILD                    @haikalpribadi @lolski
