# what is defined in this section will be applied at all times
build --workspace_status_command bin/workspace_status.sh --incompatible_strict_action_env
test --show_result=0 --show_progress=no --incompatible_strict_action_env
run --show_result=0 --show_progress=no --incompatible_strict_action_env

# what is defined in this section will be applied when bazel is invoked like this: bazel ... --config=rbe ...
build:rbe --remote_instance_name=remote-execution
build:rbe --remote_executor=grpc://bazel.grakn.ai
build:rbe --bes_results_url=https://app.buildbuddy.io/invocation/
build:rbe --bes_backend=grpcs://events.buildbuddy.io:1986
build:rbe --host_platform=@graknlabs_dependencies//image/rbe:ubuntu-1604
build:rbe --platforms=@graknlabs_dependencies//image/rbe:ubuntu-1604
build:rbe --extra_execution_platforms=@graknlabs_dependencies//image/rbe:ubuntu-1604
build:rbe --host_javabase=@bazel_toolchains//configs/ubuntu16_04_clang/11.0.0/bazel_3.0.0/java:jdk
build:rbe --javabase=@bazel_toolchains//configs/ubuntu16_04_clang/11.0.0/bazel_3.0.0/java:jdk
build:rbe --host_java_toolchain=@bazel_tools//tools/jdk:toolchain_hostjdk8
build:rbe --java_toolchain=@bazel_tools//tools/jdk:toolchain_hostjdk8
build:rbe --extra_toolchains=@bazel_toolchains//configs/ubuntu16_04_clang/11.0.0/bazel_3.0.0/config:cc-toolchain
build:rbe --crosstool_top=@bazel_toolchains//configs/ubuntu16_04_clang/11.0.0/bazel_3.0.0/cc:toolchain
build:rbe --jobs=50
build:rbe --remote_timeout=3600
build:rbe --bes_timeout=60s
build:rbe --experimental_strict_action_env=true
