#
# Copyright (C) 2021 Vaticle
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.
#

# Mac
.DS_Store

# Bazel
bazel-*

# IDE
.idea/
*.iml
*.ipr
*.iws
*.geany
.ijwb/

# VS Code
.vscode/
.settings/
.project
.classpath

# Compiled
dist/
out/
*.class

# Package
*.jarg
*.war
*.ear

# Gradle
.gradle/

# Debug
dep.tree

# Databases
db/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml #
hs_err_pid*

# Log
logs/
*.log

# VIM swap
*.swp
*.swo

# Python cache
__pycache__
