# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at https://mozilla.org/MPL/2.0/.

# Mac
.DS_Store

# Bazel
bazel-*
.bazel-remote-cache.rc
.bazel-cache-credential.json

# IDE
.idea/
*.iml
*.ipr
*.iws
*.geany
.ijwb/

# VS Code
.vscode/
.settings/
.project
.classpath

# Compiled
dist/
out/
*.class
target

# Package
*.jarg
*.war
*.ear

# Gradle
.gradle/

# Debug
dep.tree

# Databases
db/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml #
hs_err_pid*

# Log
logs/
*.log

# VIM swap
*.swp
*.swo

# Python cache
__pycache__

# AI tools
.aider*