[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
grpcio = "*"

[dev-packages]
grpcio-tools = "*"
googleapis-common-protos = "*"

[requires]
python_version = "3.7"
