[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
grpcio = "*"
pylint = "*"

[dev-packages]
grpcio-tools = "*"
googleapis-common-protos = "*"
pylint = "*"
protobuf = "*"
"flake8" = "*"
pyflakes = "*"

[requires]
python_version = "3.7"
