<?xml version="1.0" encoding="utf-8"?>

<!--
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at https://mozilla.org/MPL/2.0/.
-->

<packages>
    <package id="bazelisk" version="1.17.0"/>
    <package id="python" version="3.7.4"/>
    <package id="openjdk11" version="11.0.9.11"/>

    <package id="visualstudio2022buildtools" version="117.12.2" />
    <package id="visualstudio2022-workload-vctools" version="1.0.0" />
    <package id="rust-ms" version="1.81.0" />
    <package id="git" version="2.47.1" />
    <package id="llvm" version="19.1.0" />
    <package id="protoc" version="29.2.0" />
</packages>
