#
# GRAKN.AI - THE KNOWLEDGE GRAPH
# Copyright (C) 2018 Grakn Labs Ltd
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.
#


version: 2.1
commands:
  install-bazel:
    steps:
      - run:
          name: Install bazel and RBE credential
          command: |
            # Install bazel
            curl -OL https://github.com/bazelbuild/bazel/releases/download/0.20.0/bazel-0.20.0-installer-linux-x86_64.sh
            chmod +x bazel-0.20.0-installer-linux-x86_64.sh
            sudo ./bazel-0.20.0-installer-linux-x86_64.sh

            # Install RBE credential
            bazel run @graknlabs_build_tools//ci:install-bazel-rbe-credential

  install-bazel-mac:
    steps:
      - run:
          name: Install bazel and RBE credential
          command: |
            # Install bazel
            curl -OL https://github.com/bazelbuild/bazel/releases/download/0.20.0/bazel-0.20.0-installer-darwin-x86_64.sh
            chmod +x bazel-0.20.0-installer-darwin-x86_64.sh
            sudo ./bazel-0.20.0-installer-darwin-x86_64.sh

            # Install RBE credential
            bazel run @graknlabs_build_tools//ci:install-bazel-rbe-credential

  install-rpm:
    steps:
      - run:
          name: Install rpm (for rpmbuild)
          command: sudo apt update && sudo apt install rpm -y

  run-bazel-rbe:
    parameters:
      command:
          type: string
    steps:
      - run:
          command: |
            bazel run @graknlabs_build_tools//ci:run-bazel-rbe << parameters.command >>

jobs:
  build:
    machine: true
    working_directory: ~/grakn
    steps:
      - checkout
      - install-bazel
      - install-rpm
      - run: bazel run @graknlabs_build_tools//checkstyle:test-coverage
      - run-bazel-rbe:
          command: bazel build //...

  test-common:
    machine: true
    working_directory: ~/grakn
    steps:
      - checkout
      - install-bazel
      - run-bazel-rbe:
          command: bazel test //common/... --test_output=errors

  test-console:
    machine: true
    working_directory: ~/grakn
    steps:
      - checkout
      - install-bazel
      - install-rpm
      - run-bazel-rbe:
          command: bazel test //console/... --test_output=errors

  test-server:
    machine: true
    working_directory: ~/grakn
    steps:
      - checkout
      - install-bazel
      - install-rpm
      - run-bazel-rbe:
          command: bazel test //server/... --test_output=errors

  test-integration:
    machine: true
    working_directory: ~/grakn
    steps:
      - checkout
      - install-bazel
      - run-bazel-rbe:
          command: bazel test //test-integration/server/... --test_output=errors
      - run-bazel-rbe:
          command: bazel test //test-integration/graql/executor/... --test_output=errors
      - run-bazel-rbe:
          command: bazel test //test-integration/graql/query/... --test_output=errors

  test-integration-reasoner:
    machine: true
    working_directory: ~/grakn
    steps:
    - checkout
    - install-bazel
    - run: bazel run @graknlabs_build_tools//ci:install-bazel-rbe-credential
    - run-bazel-rbe:
        command: bazel test //test-integration/graql/reasoner/... --test_output=errors

  test-integration-analytics:
    machine: true
    working_directory: ~/grakn
    steps:
    - checkout
    - install-bazel
    - run: bazel run @graknlabs_build_tools//ci:install-bazel-rbe-credential
    - run-bazel-rbe:
        command: bazel test //test-integration/graql/analytics/... --test_output=errors

  test-assembly-linux-targz:
    machine: true
    working_directory: ~/grakn
    steps:
      - checkout
      - install-bazel

      # build the targz distribution
      - run: bazel build //:assemble-linux-targz

      # install the targz distribution. Grakn will be available system-wide for test-end-to-end
      - run:
          command: |
            tar -xf bazel-bin/assemble-linux-targz.tar.gz -C bazel-bin
            sudo mkdir -p /opt/grakn/core
            sudo mv bazel-bin/grakn-core-all-linux/* /opt/grakn/core/
            sudo chown -R circleci:circleci /opt/grakn/ # TODO: how do we avoid having to chown?
            sudo ln -s /opt/grakn/core/grakn /usr/local/bin/grakn

      # run the test # TODO: change the test
      - run: bazel test //test-end-to-end:test-end-to-end --test_output=streamed --spawn_strategy=standalone

  test-assembly-apt:
    machine: true
    working_directory: ~/grakn
    steps:
      - checkout
      - install-bazel

      # build the following apt packages: grakn-core-bin, grakn-core-server, and grakn-core-console
      - run:
          command: |
            bazel build //bin:assemble-apt
            bazel build //server:assemble-apt
            bazel build //console:assemble-apt

      # install the apt packages. Grakn will be available system-wide for test-end-to-end
      - run:
          command: |
            sudo dpkg -i bazel-bin/bin/grakn-core-bin__all.deb
            sudo dpkg -i bazel-bin/server/grakn-core-server__all.deb
            sudo dpkg -i bazel-bin/console/grakn-core-console__all.deb
            sudo chown -R circleci:circleci /opt/grakn/ # TODO: how do we avoid having to chown?

      # run the test # TODO: change the test
      - run: bazel test //test-end-to-end:test-end-to-end --test_output=streamed --spawn_strategy=standalone

      # deploy artifact
      # TODO: enable
#      - run: bazel run //bin:deploy-apt -- test $TODO $TODO
#      - run: bazel run //console:deploy-apt -- test $TODO $TODO
#      - run: bazel run //server:deploy-apt -- test $TODO $TODO

  test-assembly-rpm:
    machine: true
    working_directory: ~/grakn
    steps:
      - checkout
      - run: echo "$GCP_CREDENTIAL" > /tmp/gcp-credential.json # TODO: move to the py script
      - run: gcloud auth activate-service-account --key-file /tmp/gcp-credential.json # TODO: move to the py script
      - run: ssh-keygen -t rsa -b 4096 -N "" -f ~/.ssh/google_compute_engine # the file needs to be located at ~/.ssh/google_compute_engine in order for it to be recognised by gcloud # TODO: move to the py script
      - run:
          command: .circleci/test-assembly/rpm.py
          no_output_timeout: 20m

  test-assembly-mac-zip:
    macos:
      xcode: "9.0"
    working_directory: ~/grakn
    steps:
      - checkout
      - install-bazel-mac

      # build the zip distribution
      - run: bazel build //:assemble-mac-zip

      # install the zip distribution. Grakn will be available system-wide
      - run:
          command: |
            unzip bazel-genfiles/grakn-core-all-mac.zip -d bazel-genfiles/
            sudo mkdir -p /opt/grakn/core
            sudo mv bazel-genfiles/grakn-core-all-mac/* /opt/grakn/core/
            sudo chown -R distiller:staff /opt/grakn/ # TODO: how do we avoid having to chown?
            sudo ln -s /opt/grakn/core/grakn /usr/local/bin/grakn

      # run the test # TODO: change the test
      - run: bazel test //test-end-to-end:test-end-to-end --test_output=streamed --spawn_strategy=standalone

  test-assembly-windows-zip:
    machine: true
    working_directory: ~/grakn
    steps:
      - checkout
      - run:
          command: .circleci/test-assembly/windows-zip/windows-zip.py
          no_output_timeout: 20m

  sync-dependencies:
    machine: true
    steps:
      - checkout
      - install-bazel
      - run: |
          bazel run @graknlabs_build_tools//ci:sync-dependencies -- \
          --source grakn:master \
          --targets client-java:master client-python:master client-nodejs:master docs:development
  
  release-approval:
    machine: true
    steps:
      - checkout
      - install-bazel
      - run: bazel run @graknlabs_build_tools//ci:release-approval

  release-github-draft:
    machine: true
    working_directory: ~/grakn
    steps:
      - checkout
      - install-bazel
      - run: bazel run //:deploy-github-zip -- ${GRABL_CREDENTIAL}

  release-cleanup:
    machine: true
    steps:
      - checkout
      - run: git push --delete origin grakn-core-release-branch

workflows:
  # the 'ci' workflow consists of jobs which:
  #  - executes tests (executed on pull requests and master)
  #  - syncs docs/development to the latest grakn version (executed on master only)
  #  - waits for an approval for Grakn to be released (executed on master only)
  grakn-core:
    jobs:
      - test-assembly-linux-targz
      - test-assembly-apt
      - test-assembly-rpm
      - test-assembly-mac-zip
      - test-assembly-windows-zip
# TODO: enable
#  grakn-core:
#    jobs:
#      # test jobs
#      - build:
#          filters:
#            branches:
#              ignore: grakn-core-release-branch
#      - test-common:
#          filters:
#            branches:
#              ignore: grakn-core-release-branch
#      - test-console:
#          filters:
#            branches:
#              ignore: grakn-core-release-branch
#      - test-server:
#          filters:
#            branches:
#              ignore: grakn-core-release-branch
#      - test-integration:
#          filters:
#            branches:
#              ignore: grakn-core-release-branch
#      - test-integration-reasoner:
#          filters:
#            branches:
#              ignore: grakn-core-release-branch
#      - test-integration-analytics:
#          filters:
#            branches:
#              ignore: grakn-core-release-branch
#      - test-end-to-end:
#          filters:
#            branches:
#              ignore: grakn-core-release-branch
#
#      # sync dependencies to the latest grakn version
#      - sync-dependencies:
#          filters:
#            branches:
#              only: master
#          requires:
#            - build
#            - test-common
#            - test-console
#            - test-server
#            - test-integration
#            - test-integration-reasoner
#            - test-integration-analytics
#            - test-end-to-end
#
#      # wait for an approval for Grakn to be released
#      # triggers 'ci-release' workflow by creating a branch 'grakn-core-release-branch' in graknlabs/grakn
#      - release-approval:
#          filters:
#            branches:
#              only: master
#          requires:
#            - sync-dependencies
#
#  # the 'grakn-core-release' workflow is triggered by the creation of 'grakn-core-release-branch' branch in graknlabs/grakn
#  # it consists of jobs which:
#  # - publishes Grakn by creating a Github release
#  # - cleans up the 'grakn-core-release-branch' branch which was created by the release-approval job
#  grakn-core-release:
#    jobs:
#      - release-github-draft:
#          filters:
#            branches:
#              only: grakn-core-release-branch
#      - release-cleanup:
#          requires:
#            - release-github-draft
#          filters:
#            branches:
#              only: grakn-core-release-branch
