#
# Copyright (C) 2022 Vaticle
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.
#

version: 2.1
orbs:
  win: circleci/windows@2.0.0
commands:

  install-bazel-linux-x86_64:
    steps:
      - run: curl -OL https://github.com/bazelbuild/bazelisk/releases/download/v1.17.0/bazelisk-linux-amd64
      - run: mv bazelisk-linux-amd64 /usr/local/bin/bazel

  install-bazel-linux-arm64:
    steps:
      - run: curl -OL https://github.com/bazelbuild/bazelisk/releases/download/v1.17.0/bazelisk-linux-arm64
      - run: mv bazelisk-linux-arm64 /usr/local/bin/bazel

  install-bazel-mac:
    steps:
      - run: brew install bazelisk

jobs:
  test-assembly-mac-zip-x86_64:
    macos:
      xcode: "14.2.0"
    working_directory: ~/typedb
    steps:
      - checkout
      - install-bazel-mac
      - run: bazel test //test/assembly:assembly --test_output=errors

  test-assembly-mac-zip-arm64:
    macos:
      xcode: "14.2.0"
    resource_class: macos.m1.medium.gen1
    working_directory: ~/typedb
    steps:
      - checkout
      - install-bazel-mac
      - run: bazel test //test/assembly:assembly --test_output=errors

  test-assembly-linux-zip-arm64:
    machine:
      image: ubuntu-2004:current
      resource_class: arm.medium
    working_directory: ~/typedb
    steps:
      - checkout
      - install-bazel-linux-arm64
      - run: bazel test //test/assembly:assembly --test_output=errors

  test-assembly-windows-zip:
    executor:
      name: win/default
      shell: cmd.exe
    working_directory: ~/typedb
    steps:
      - checkout
      - run: .circleci\windows\prepare.bat
      - run: .circleci\windows\test-assembly.bat


workflows:
  typedb:
    jobs:
      - test-assembly-mac-zip-x86_64
      - test-assembly-mac-zip-arm64
      - test-assembly-linux-zip-arm64
      - test-assembly-windows-zip:
          filters:
            branches:
              only:
                - master
                - development

