<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${mindmaps.log}</file>
        <encoder>
            <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="io.mindmaps" level="INFO">
        <appender-ref ref="FILE"/>
    </logger>

    <!-- It is possible to change the logging level to a more granular level. For example:-->

    <!--<logger name="io.mindmaps.engine.postprocessing.BackgroundTasks" level="DEBUG">-->
        <!--<appender-ref ref="FILE"/>-->
    <!--</logger>-->
</configuration>