<configuration debug="false">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>
    <appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${mindmaps.log.file}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover at the beginning of each month (add '-dd' to have a daily rollover)-->
            <!-- improve this by handling only log path without name included-->
            <fileNamePattern>${mindmaps.log.file}-%d{yyyy-MM}.%i.log</fileNamePattern>
            <!-- each file should be at most 50MB, keep 60 days worth of history, but at most 1GB -->
            <maxFileSize>50MB</maxFileSize>
            <maxHistory>60</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="INFO">
        <!--<appender-ref ref="STDOUT"/>-->
    </root>
    <logger name="org.eclipse.jetty" level="ERROR">
        <appender-ref ref="ROLLING"/>
    </logger>

    <logger name="io.mindmaps" level="${mindmaps.log.level}">
        <appender-ref ref="ROLLING"/>
    </logger>

    <logger name="io.mindmaps.engine.MindmapsEngineServer" level="INFO">
        <appender-ref ref="STDOUT"/>
    </logger>

    <!-- It is possible to change the logging level to a more granular level. For example:-->
    <!--<logger name="io.mindmaps.engine.postprocessing.PostProcessing" level="DEBUG">-->
        <!--<appender-ref ref="FILE"/>-->
    <!--</logger>-->

</configuration>