@import url("fonts.css");
@import 'reset';
@import 'buttons';

body, *{
  font-family: "Lekton", sans-serif;
  font-weight: 400;
  color: white;
}
 
body {
    background: #1E1E1E;
   
    -ms-overflow-style: none; // IE 10+
    overflow: -moz-scrollbars-none; // Firefox

		position: relative;
		height: 100%;
}

body::-webkit-scrollbar {
    display: none; // Safari and Chrome
}

div {
    outline: none;
}

a {
	text-decoration: none;
}

.test {
  background-color: gold;
}


.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/*Z depth sizes*/
.z-depth-0 {
  box-shadow: none !important;
}

.z-depth-1, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .collapsible, .side-nav {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.z-depth-1-half, .btn:hover, .btn-large:hover, .btn-floating:hover {
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

.z-depth-2{
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

.z-depth-3 {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
}

.z-depth-4, .modal {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
}

.z-depth-5 {
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
}


/* --------------- INPUTS ------------------------- */

/* Make input and textarea respect max-width */
input,textarea {
     width:100%;
     display:block }



.grakn-input{
  background-color:  #2E2D2D;
  color: white;
  outline: none;
  border:none;
  font-size: 95%;
  padding: 4px;
}

/* --- Flexes --- */

.flex-1{
  display: flex;
  flex: 1;
}

.flex-2{
  display: flex;
  flex: 2;
}

.flex-3{
  display: flex;
  flex: 3;
}

.flex-4{
  display: flex;
  flex: 4;
}
 
.flex-5{
  display: flex;
  flex: 5;
}

.flex-6{
  display: flex;
  flex: 6;
}

.align-center{
  align-items: center
}

.justify-center{
  justify-content: center;
}
