<!--
  ~ Copyright (C) 2021 Grakn Labs
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU Affero General Public License as
  ~ published by the Free Software Foundation, either version 3 of the
  ~ License, or (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<configuration debug="true" scan="true" scanPeriod="10 seconds" packagingData="true">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{ISO8601} [%thread] [%-5level] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="WARN"/>

    <!--
    TRACE: (Extremely verbose reporting events that gives complete traceability of a server operation)
    DEBUG: (Verbose reporting events that gives a deeper understanding of server operations)
    INFO:  (Reporting events that identifies the progress of server operations)
    WARN:  (Unexpected events that are not recommended to have happened)
    ERROR: (Incorrect events that disrupts the server operation, against user expectation)
    -->
    <logger name="grakn.core" level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </logger>
</configuration>
