# This file should be placed in `/lib/systemd/system/`
# The service can be started with `systemctl start periodic-query`

[Service]
ExecStart=/home/ubuntu/periodic