# Use a .npmignore file to keep stuff out of your package. 
# If there's no .npmignore file, but there is a .gitignore file, then npm will ignore the stuff matched by the .gitignore file. 
# If you want to include something that is excluded by your .gitignore file, you can create an empty .npmignore file to override it. 
src/