/* Google Lekton font */
@font-face {
    font-family: 'Lekton';
    src: url('../fonts/Lekton/Lekton-Regular.ttf');
}


/* Titillium Web font */

/* Light */
@font-face {
    font-family: 'TitilliumWeb-Light';
    src: url('../fonts/TitilliumWeb/TitilliumWeb-Light.ttf');
}
