/* Google Lekton font */
@font-face {
    font-family: 'Lekton';
    src: url('../fonts/Lekton/Lekton-Regular.ttf');
}


/* Titillium Web font */

/* Light */
@font-face {
    font-family: 'TitilliumWeb-Light';
    src: url('../fonts/TitilliumWeb/TitilliumWeb-Light.ttf');
}


/* Geogrotesque */


 /*Light*/
@font-face {
    font-family: 'Geogrotesque';
    font-weight: 300;
    src: url('../fonts/Geogrotesque/Geogtq-Lg.otf');
}

/*Regular*/
@font-face {
    font-family: 'Geogrotesque';
    font-weight: 400;
    src: url('../fonts/Geogrotesque/Geogtq-Rg.otf');
}

/*semi bold*/
@font-face {
    font-family: 'Geogrotesque';
    font-weight: 500;
    src: url('../fonts/Geogrotesque/Geogtq-Md.otf');
}

/*bold*/
@font-face {
    font-family: 'Geogrotesque';
    font-weight: 600;
    src: url('../fonts/Geogrotesque/Geogtq-Sb.otf');
}
