/* Google Lekton font */
@font-face {
    font-family: 'Lekton';
    src: url('../fonts/lekton/Lekton-Regular.ttf');
}


/* Titillium font */

/* Regular */
@font-face {
    font-family: 'Titillium_regular';
    src: url('../fonts/Titillium/Titillium-Regular.otf');
}

/* Thin */
@font-face {
    font-family: 'Titillium_thin';
    src: url('../fonts/Titillium/Titillium-Thin.otf');
}